StudentAccomodationBookingSystem/Project/Project/Connected Services/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49848/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49848/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_RegisterStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RetrieveFunding_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFunding" />
  </wsdl:message>
  <wsdl:message name="IService1_RetrieveFunding_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveFundingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SingleRoomPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:SingleRoomPrice" />
  </wsdl:message>
  <wsdl:message name="IService1_SingleRoomPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:SingleRoomPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TwosRoomPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:TwosRoomPrice" />
  </wsdl:message>
  <wsdl:message name="IService1_TwosRoomPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:TwosRoomPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ThreeRoomPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:ThreeRoomPrice" />
  </wsdl:message>
  <wsdl:message name="IService1_ThreeRoomPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThreeRoomPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FourRoomPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:FourRoomPrice" />
  </wsdl:message>
  <wsdl:message name="IService1_FourRoomPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:FourRoomPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FiveRoomPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:FiveRoomPrice" />
  </wsdl:message>
  <wsdl:message name="IService1_FiveRoomPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:FiveRoomPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_retriveUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:retriveUserName" />
  </wsdl:message>
  <wsdl:message name="IService1_retriveUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:retriveUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_paymentStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:paymentStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_paymentStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:paymentStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updatePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePayment" />
  </wsdl:message>
  <wsdl:message name="IService1_updatePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sendApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:sendApplication" />
  </wsdl:message>
  <wsdl:message name="IService1_sendApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_checkId_InputMessage">
    <wsdl:part name="parameters" element="tns:checkId" />
  </wsdl:message>
  <wsdl:message name="IService1_checkId_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RecordInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:RecordInvoice" />
  </wsdl:message>
  <wsdl:message name="IService1_RecordInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordInvoiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="RegisterStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterStudent" message="tns:IService1_RegisterStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterStudentResponse" message="tns:IService1_RegisterStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveFunding">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RetrieveFunding" message="tns:IService1_RetrieveFunding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RetrieveFundingResponse" message="tns:IService1_RetrieveFunding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SingleRoomPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SingleRoomPrice" message="tns:IService1_SingleRoomPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SingleRoomPriceResponse" message="tns:IService1_SingleRoomPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TwosRoomPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TwosRoomPrice" message="tns:IService1_TwosRoomPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TwosRoomPriceResponse" message="tns:IService1_TwosRoomPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThreeRoomPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ThreeRoomPrice" message="tns:IService1_ThreeRoomPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ThreeRoomPriceResponse" message="tns:IService1_ThreeRoomPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FourRoomPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FourRoomPrice" message="tns:IService1_FourRoomPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FourRoomPriceResponse" message="tns:IService1_FourRoomPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FiveRoomPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FiveRoomPrice" message="tns:IService1_FiveRoomPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FiveRoomPriceResponse" message="tns:IService1_FiveRoomPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="retriveUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/retriveUserName" message="tns:IService1_retriveUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/retriveUserNameResponse" message="tns:IService1_retriveUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="paymentStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/paymentStatus" message="tns:IService1_paymentStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/paymentStatusResponse" message="tns:IService1_paymentStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updatePayment" message="tns:IService1_updatePayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updatePaymentResponse" message="tns:IService1_updatePayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sendApplication" message="tns:IService1_sendApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sendApplicationResponse" message="tns:IService1_sendApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/checkId" message="tns:IService1_checkId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/checkIdResponse" message="tns:IService1_checkId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecordInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RecordInvoice" message="tns:IService1_RecordInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RecordInvoiceResponse" message="tns:IService1_RecordInvoice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFunding">
      <soap:operation soapAction="http://tempuri.org/IService1/RetrieveFunding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SingleRoomPrice">
      <soap:operation soapAction="http://tempuri.org/IService1/SingleRoomPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TwosRoomPrice">
      <soap:operation soapAction="http://tempuri.org/IService1/TwosRoomPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThreeRoomPrice">
      <soap:operation soapAction="http://tempuri.org/IService1/ThreeRoomPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FourRoomPrice">
      <soap:operation soapAction="http://tempuri.org/IService1/FourRoomPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FiveRoomPrice">
      <soap:operation soapAction="http://tempuri.org/IService1/FiveRoomPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retriveUserName">
      <soap:operation soapAction="http://tempuri.org/IService1/retriveUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paymentStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/paymentStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePayment">
      <soap:operation soapAction="http://tempuri.org/IService1/updatePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendApplication">
      <soap:operation soapAction="http://tempuri.org/IService1/sendApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkId">
      <soap:operation soapAction="http://tempuri.org/IService1/checkId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordInvoice">
      <soap:operation soapAction="http://tempuri.org/IService1/RecordInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49848/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>